<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @user.user_name %>， 验证邮箱</h1>
<p>
  点击下方链接验证邮箱：<br>
  <%= link_to "验证邮箱", "http://localhost:3000/user/email/confirm?email_confirmation_token=#{@user.email_confirmation_token}" %>
</p>
<p>如果您没有注册伙聚，请忽略该邮件。</p>
<span>请不要回复此类邮件</span>
</body>
</html>