<p>UserName: <%= @user.user_name %></p>

<p>Sex: <%= @user.sex %></p>
<p>Profile: <%= @user.profile %></p>

<% if @user.id == current_user.id %>
    <%= link_to 'Edit profile', edit_user_profile_path %>
<% end %>